Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)

Add dark mode support to Airflow documentation site
  landing-pages/.gitignore
  landing-pages/site/assets/scss/_blog-page.scss
  landing-pages/site/assets/scss/_colors.scss
  landing-pages/site/assets/scss/_header.scss
  landing-pages/site/assets/scss/_navbar.scss
  landing-pages/site/assets/scss/_rating.scss
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/assets/scss/_variables.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/assets/scss/pygments/_dark.scss
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/_partials/navbar.html
  landing-pages/site/layouts/partials/hooks/body-end.html
  landing-pages/site/layouts/partials/scripts.html.backup
  landing-pages/src/js/headerAnimation.js
  sphinx_airflow_theme/sphinx_airflow_theme/__init__.py
  sphinx_airflow_theme/sphinx_airflow_theme/globaltoc.html
  sphinx_airflow_theme/sphinx_airflow_theme/header.html
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: lint-css, lint-js

Upgrade Docsy theme from v0.2.0-pre to v0.12.0 and enable dark mode
  .github/workflows/build.yml
  landing-pages/site/assets/scss/_colors.scss
  landing-pages/site/assets/scss/_variables.scss
  landing-pages/site/config.toml
  landing-pages/site/layouts/partials/scripts.html.backup
Due: lint-css

Upgrade Hugo to 0.146.0 and install Docsy NPM dependencies
  .github/workflows/build.yml
Due: none

Fix CSS generation for Docsy v0.12.0 upgrade
  landing-pages/site/layouts/_partials/head-css.html
  landing-pages/site/layouts/_partials/head.html
  landing-pages/site/layouts/partials/hooks/head-end.html
Due: none

Vendor external JS
  landing-pages/site/static/external/js/bootstrap-5.3.3.min.js
  landing-pages/site/static/external/js/popper-2.11.8.min.js
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: lint-js

docs(theme): improve dark-mode docs sidebar contrast
  landing-pages/site/assets/scss/_rst-content.scss
Due: none

Upgrade ancient Docsy theme and implement dark mode (#1270)
  .github/workflows/build.yml
  landing-pages/.gitignore
  landing-pages/site/assets/scss/_blog-page.scss
  landing-pages/site/assets/scss/_colors.scss
  landing-pages/site/assets/scss/_header.scss
  landing-pages/site/assets/scss/_navbar.scss
  landing-pages/site/assets/scss/_rating.scss
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/assets/scss/_variables.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/assets/scss/pygments/_dark.scss
  landing-pages/site/config.toml
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/_partials/head-css.html
  landing-pages/site/layouts/_partials/head.html
  landing-pages/site/layouts/_partials/navbar.html
  landing-pages/site/layouts/partials/hooks/body-end.html
  landing-pages/site/layouts/partials/hooks/head-end.html
  landing-pages/site/layouts/partials/scripts.html
  landing-pages/site/static/external/js/bootstrap-5.3.3.min.js
  landing-pages/site/static/external/js/popper-2.11.8.min.js
  landing-pages/src/js/headerAnimation.js
  sphinx_airflow_theme/sphinx_airflow_theme/__init__.py
  sphinx_airflow_theme/sphinx_airflow_theme/globaltoc.html
  sphinx_airflow_theme/sphinx_airflow_theme/header.html
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: lint-css, lint-js

Fix webpack script loading on homepage
  landing-pages/site/layouts/_default/baseof.html
Due: none

revort changes
  landing-pages/package-lock.json
  landing-pages/site/content/en/community/_index.html
  landing-pages/site/data/integrations.json
  landing-pages/yarn.lock
Due: none

revort chnages
  landing-pages/site/assets/scss/_community-page.scss
Due: lint-css

fix chnages
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/content/en/community/_index.html
Due: lint-css

Copy external JS/CSS/fonts for Sphinx docs
  site.sh
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: none

Remove duplicate CSS & not copy profile images
  site.sh
  sphinx_airflow_theme/sphinx_airflow_theme/globaltoc.html
Due: none

Fix version-selector in Dark mode
  landing-pages/site/layouts/partials/version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Ensure Docsy deps are installed
  site.sh
Due: none

Remove `landing-pages/package-lock.json`
  landing-pages/package-lock.json
Due: none

Make Dark mode theme toggle more visible
  landing-pages/site/assets/scss/_navbar.scss
Due: lint-css

Make Dark mode theme toggle more visible (#1331)
  landing-pages/site/assets/scss/_navbar.scss
Due: lint-css

Fixed positions of the button & scroll button improved for dark theme
  landing-pages/site/layouts/partials/buttons/button-with-arrow.html
  sphinx_airflow_theme/sphinx_airflow_theme/suggest_change_button.html
Due: none

Fixed positions of the button & scroll button improved for dark theme (#1332)
  landing-pages/site/layouts/partials/buttons/button-with-arrow.html
  sphinx_airflow_theme/sphinx_airflow_theme/suggest_change_button.html
Due: none

Improve dark mode UI/UX contrast and design
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/assets/scss/_blog-page.scss
  landing-pages/site/assets/scss/_buttons.scss
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_feature.scss
  landing-pages/site/assets/scss/_highlights.scss
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_markdown-content.scss
  landing-pages/site/assets/scss/_text-with-icon.scss
Due: lint-css

Improve dark mode UI/UX contrast and design (#1333)
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/assets/scss/_blog-page.scss
  landing-pages/site/assets/scss/_buttons.scss
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_feature.scss
  landing-pages/site/assets/scss/_highlights.scss
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_markdown-content.scss
  landing-pages/site/assets/scss/_text-with-icon.scss
Due: lint-css

Better code syntax highlighting in light & dark mode
  landing-pages/site/assets/scss/_highlights.scss
  landing-pages/site/assets/scss/_markdown-content.scss
  landing-pages/site/assets/scss/pygments/_dark.scss
  landing-pages/site/assets/scss/pygments/_light.scss
Due: lint-css
