Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

lint-css:
  name: Lint CSS files
  entry: ./site.sh lint-css
  language: system

lint-js:
  name: Lint JS files
  entry: ./site.sh lint-js
  language: system

Update copy for use case pages
  landing-pages/site/content/en/use-cases/business_operations.md
  landing-pages/site/content/en/use-cases/etl_analytics.md
  landing-pages/site/content/en/use-cases/infrastructure-management.md
  landing-pages/site/content/en/use-cases/mlops.md
Due: none

Announce helm chart 1.13.0 (#975)
  landing-pages/site/content/en/announcements/_index.md
Due: none

Fix markdown front matter rendering
  landing-pages/site/config.toml
  landing-pages/site/content/en/use-cases/adobe.md
  landing-pages/site/content/en/use-cases/adyen.md
  landing-pages/site/content/en/use-cases/big-fish-games.md
  landing-pages/site/content/en/use-cases/business_operations.md
  landing-pages/site/content/en/use-cases/dish.md
  landing-pages/site/content/en/use-cases/etl_analytics.md
  landing-pages/site/content/en/use-cases/experity.md
  landing-pages/site/content/en/use-cases/infrastructure-management.md
  landing-pages/site/content/en/use-cases/mlops.md
  landing-pages/site/content/en/use-cases/onefootball.md
  landing-pages/site/content/en/use-cases/plarium-krasnodar.md
  landing-pages/site/content/en/use-cases/seniorlink.md
  landing-pages/site/content/en/use-cases/sift.md
  landing-pages/site/content/en/use-cases/snapp.md
  landing-pages/site/content/en/use-cases/suse.md
  landing-pages/site/layouts/use-cases/list.html
Due: none

hide all but 4 testimonials behind show more button
  landing-pages/src/index.js
Due: lint-js

separate CSS for use cases descriptions - no quotes
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_usecasedescription.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/content/en/use-cases/business_operations.md
  landing-pages/site/content/en/use-cases/etl_analytics.md
  landing-pages/site/content/en/use-cases/infrastructure-management.md
  landing-pages/site/content/en/use-cases/mlops.md
  landing-pages/site/layouts/partials/boxes/use-cases.html
  landing-pages/site/layouts/partials/usecasedescription.html
Due: lint-css

formatting
  landing-pages/site/layouts/partials/boxes/use-cases.html
Due: none

small copy edit
  landing-pages/site/content/en/use-cases/infrastructure-management.md
Due: none

Fixes config.
  landing-pages/site/config.toml
  landing-pages/site/layouts/use-cases/list.html
Due: none

Fixes testimonials styling.
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_testimonial.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/partials/boxes/testimonials.html
  landing-pages/site/layouts/partials/boxes/use-cases.html
  landing-pages/site/layouts/partials/testimonial-quote.html
  landing-pages/site/layouts/use-cases/list.html
  landing-pages/site/layouts/use-cases/single.html
Due: lint-css

Revises testimonials styling.
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/content/en/use-cases/_index.html
  landing-pages/site/layouts/partials/boxes/testimonial.html
  landing-pages/site/layouts/partials/testimonial-quote.html
  landing-pages/site/layouts/use-cases/list.html
  landing-pages/src/index.js
Due: lint-css, lint-js

update repo link in Business Ops use case
  landing-pages/site/content/en/use-cases/business_operations.md
Due: none

Restore paging.
  landing-pages/site/layouts/use-cases/single.html
Due: none

Announce Apache Airflow 2.8.3 release
  landing-pages/site/content/en/announcements/_index.md
Due: none

Announce Apache Airflow 2.8.3 release (#979)
  landing-pages/site/content/en/announcements/_index.md
Due: none

Update docker stack documentation with today's changes
  docs-archive/docker-stack/_sources/changelog.rst.txt
  docs-archive/docker-stack/changelog.html
  docs-archive/docker-stack/searchindex.js
Due: none

Update docker stack documentation with today's changes (#980)
  docs-archive/docker-stack/_sources/changelog.rst.txt
  docs-archive/docker-stack/changelog.html
  docs-archive/docker-stack/searchindex.js
Due: none

Add: Korea Airflow meetups group
  landing-pages/site/static/meetups.json
Due: none

Update meetups.json
  landing-pages/site/static/meetups.json
Due: none

Add: Korea Airflow meetups group (#981)
  landing-pages/site/static/meetups.json
Due: none

Logo styling fix.
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_quote.scss
Due: lint-css

Apply linter fix.
  landing-pages/site/config.toml
  landing-pages/site/layouts/index.html
  landing-pages/site/layouts/partials/navbar.html
  landing-pages/site/layouts/use-cases/single.html
Due: none

Apply linter fix to md file.
  landing-pages/site/content/en/use-cases/infrastructure-management.md
Due: none

Add csp for yt videos to head.
  landing-pages/site/layouts/partials/hooks/head-end.html
Due: none

Add csp for yt videos to head. (#982)
  landing-pages/site/layouts/partials/hooks/head-end.html
Due: none

csp for video iframes fix in head-end
  landing-pages/site/layouts/partials/hooks/head-end.html
Due: none

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)
