Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

lint-css:
  name: Lint CSS files
  entry: ./site.sh lint-css
  language: system

lint-js:
  name: Lint JS files
  entry: ./site.sh lint-js
  language: system

style: add word-break for mobile responsiveness
  landing-pages/site/assets/scss/_typography.scss
Due: lint-css

Update committers and PMC (2025-12-25)
  .github/scripts/refresh_pmc_committer_images.py
  landing-pages/site/content/en/announcements/_index.md
  landing-pages/site/content/en/blog/airflow-three-point-oh-is-here/index.md
  landing-pages/site/data/committers.json
  landing-pages/site/data/pmc.json
  landing-pages/site/static/external/profiles/choo121600.png
  landing-pages/site/static/external/profiles/criccomini.png
  landing-pages/site/static/external/profiles/dabla.png
  landing-pages/site/static/external/profiles/dheerajturaga.png
Due: none

Update committers and PMC (2025-12-25) (#1350)
  .github/scripts/refresh_pmc_committer_images.py
  landing-pages/site/content/en/announcements/_index.md
  landing-pages/site/content/en/blog/airflow-three-point-oh-is-here/index.md
  landing-pages/site/data/committers.json
  landing-pages/site/data/pmc.json
  landing-pages/site/static/external/profiles/choo121600.png
  landing-pages/site/static/external/profiles/criccomini.png
  landing-pages/site/static/external/profiles/dabla.png
  landing-pages/site/static/external/profiles/dheerajturaga.png
Due: none

Update Hugo version requirement in CONTRIBUTING.md
  CONTRIBUTE.md
Due: none

style: increased padding-top of top element for mobile screen
  landing-pages/site/assets/scss/_home-page.scss
Due: lint-css

Update Hugo version requirement in CONTRIBUTING.md (#1351)
  CONTRIBUTE.md
Due: none

style: isolate announcements mobile responsiveness and improve readability
  landing-pages/site/assets/scss/_typography.scss
Due: lint-css

Fix navbar toggle button in dev mode
  landing-pages/src/js/drawer.js
Due: lint-js

Optimize solution
  landing-pages/src/js/drawer.js
Due: lint-js

Fix navbar toggle button in dev mode (#1352)
  landing-pages/src/js/drawer.js
Due: lint-js

Fix content security policy
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: none

Add doctoc prek hook for long MD files
  .pre-commit-config.yaml
  CONTRIBUTE.md
  sphinx_airflow_theme/README.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

style: isolate announcements styling and fix linting newline
  landing-pages/site/assets/scss/_typography.scss
Due: lint-css

Improve dark mode toggling, color constrast, and logos
  landing-pages/site/assets/js/dark-mode.js
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_navbar.scss
  landing-pages/site/assets/scss/_quote.scss
  landing-pages/site/assets/scss/_usecasedescription.scss
  landing-pages/site/content/en/use-cases/sift.md
  landing-pages/site/layouts/partials/boxes/testimonial.html
  landing-pages/site/layouts/partials/quote.html
  landing-pages/site/layouts/partials/theme-toggler.html
  landing-pages/site/static/usecase-logos/adobe-logo.svg
  landing-pages/site/static/usecase-logos/download-idR6yyb4TP-1766854345548.zip
  landing-pages/site/static/usecase-logos/onefootball-logo.svg
  landing-pages/site/static/usecase-logos/rancher-suse-white.svg
  landing-pages/site/static/usecase-logos/sift_logo.svg
  landing-pages/site/static/usecase-logos/sift_logo_white.svg
  sphinx_airflow_theme/sphinx_airflow_theme/header.html
Due: lint-css, lint-js

Improve dark mode toggling, color constrast, and logos (#1355)
  landing-pages/site/assets/js/dark-mode.js
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/assets/scss/_navbar.scss
  landing-pages/site/assets/scss/_quote.scss
  landing-pages/site/assets/scss/_usecasedescription.scss
  landing-pages/site/content/en/use-cases/sift.md
  landing-pages/site/layouts/partials/boxes/testimonial.html
  landing-pages/site/layouts/partials/quote.html
  landing-pages/site/layouts/partials/theme-toggler.html
  landing-pages/site/static/usecase-logos/adobe-logo.svg
  landing-pages/site/static/usecase-logos/download-idR6yyb4TP-1766854345548.zip
  landing-pages/site/static/usecase-logos/onefootball-logo.svg
  landing-pages/site/static/usecase-logos/rancher-suse-white.svg
  landing-pages/site/static/usecase-logos/sift_logo.svg
  landing-pages/site/static/usecase-logos/sift_logo_white.svg
  sphinx_airflow_theme/sphinx_airflow_theme/header.html
Due: lint-css, lint-js

Add doctoc prek hook for long MD files (#1354)
  .pre-commit-config.yaml
  CONTRIBUTE.md
  sphinx_airflow_theme/README.md
Due: none

fixed the fill in diff theme of scroll svg
  sphinx_airflow_theme/sphinx_airflow_theme/suggest_change_button.html
Due: none

fixed the fill in diff theme of scroll svg (#1357)
  sphinx_airflow_theme/sphinx_airflow_theme/suggest_change_button.html
Due: none

Fix active mode in dark mode menu
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: none

Fix active mode in dark mode menu (#1359)
  sphinx_airflow_theme/sphinx_airflow_theme/layout.html
Due: none

style: increase line-height on announcements page for better readability (#1349)
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/assets/scss/_home-page.scss
  landing-pages/site/assets/scss/_typography.scss
Due: lint-css

Improve resource card hover interaction
  landing-pages/site/assets/scss/_list-boxes.scss
  landing-pages/site/content/en/community/resources.html
Due: lint-css

Fixed theme toggler
  landing-pages/site/layouts/partials/theme-toggler.html
Due: none

Fixed theme toggler (#1362)
  landing-pages/site/layouts/partials/theme-toggler.html
Due: none

style: fixed theme-toggle position
  landing-pages/site/assets/scss/_navbar.scss
Due: lint-css

style: fixed theme-toggle position (#1363)
  landing-pages/site/assets/scss/_navbar.scss
Due: lint-css

fix theme selector
  landing-pages/site/layouts/_partials/navbar.html
  landing-pages/site/layouts/partials/navbar.html
Due: none

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)
