Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)

Update landing-pages/site/layouts/meetups/list.html
  landing-pages/site/layouts/meetups/list.html
Due: none

feat: Updated scroll-to-top button
  landing-pages/site/assets/scss/_scroll-to-top.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/partials/suggest-change.html
  landing-pages/src/index.js
  landing-pages/src/js/scroll-to-top.js
  landing-pages/yarn.lock
Due: lint-css, lint-js

added new section for scroll-button
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/partials/page-scroll-button.html
Due: none

refactor: unify section headers in home page layout
  landing-pages/site/assets/scss/_home-page.scss
  landing-pages/site/layouts/index.html
Due: lint-css

refactor: unify section headers in home page layout (#1290)
  landing-pages/site/assets/scss/_home-page.scss
  landing-pages/site/layouts/index.html
Due: lint-css

Apply suggestion from @potiuk
  landing-pages/site/layouts/meetups/list.html
Due: none

Fix Sphinx version selector template
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Fix typo: change 'inddex' to 'index' in integrationList.js
  landing-pages/src/js/integrationList.js
Due: lint-js

Remove scroll to top button from suggest change
  landing-pages/site/layouts/partials/suggest-change.html
Due: none

Fix formatting in license comments in baseof.html
  landing-pages/site/layouts/_default/baseof.html
Due: none

Fix formatting of Apache License URL
  landing-pages/site/layouts/_default/baseof.html
Due: none

Fix formatting of Apache License URL in baseof.html
  landing-pages/site/layouts/_default/baseof.html
Due: none

Fix script tag indentation in baseof.html
  landing-pages/site/layouts/_default/baseof.html
Due: none

few bugs fixed
  landing-pages/site/layouts/blog/baseof.html
  landing-pages/site/layouts/community/baseof.html
  landing-pages/site/layouts/docs/baseof.html
  landing-pages/site/layouts/install/baseof.html
  landing-pages/site/layouts/meetups/baseof.html
  landing-pages/site/layouts/partials/suggest-change.html
  landing-pages/site/layouts/privacy-notice/baseof.html
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/site/layouts/taxonomy/baseof.html
  landing-pages/site/layouts/use-cases/baseof.html
  landing-pages/src/js/scroll-to-top.js
Due: lint-js

Fix version selector
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

add Scroll To Top Button
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/assets/scss/_footer.scss
  landing-pages/site/assets/scss/_scroll-to-top.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/blog/baseof.html
  landing-pages/site/layouts/community/baseof.html
  landing-pages/site/layouts/docs/baseof.html
  landing-pages/site/layouts/install/baseof.html
  landing-pages/site/layouts/meetups/baseof.html
  landing-pages/site/layouts/partials/buttons/button-with-arrow.html
  landing-pages/site/layouts/partials/footer.html
  landing-pages/site/layouts/partials/scroll-to-top.html
  landing-pages/site/layouts/partials/suggest-change.html
  landing-pages/site/layouts/privacy-notice/baseof.html
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/site/layouts/taxonomy/baseof.html
  landing-pages/site/layouts/use-cases/baseof.html
  landing-pages/src/js/scrollToTop.js
Due: lint-css, lint-js

Fix typo: change 'inddex' to 'index' in integrationList.js (#1292)
  landing-pages/src/js/integrationList.js
Due: lint-js

add scroll to top button bugfix-1
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/data/integrations.json
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/blog/baseof.html
  landing-pages/site/layouts/community/baseof.html
  landing-pages/site/layouts/docs/baseof.html
  landing-pages/site/layouts/install/baseof.html
  landing-pages/site/layouts/meetups/baseof.html
  landing-pages/site/layouts/privacy-notice/baseof.html
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/site/layouts/taxonomy/baseof.html
  landing-pages/site/layouts/use-cases/baseof.html
Due: lint-css

add scroll to top button bugfix-2
  landing-pages/site/assets/scss/_base-layout.scss
Due: lint-css

add scroll to top button bugfix-3
  landing-pages/yarn.lock
Due: none

whitespace fixed
  landing-pages/site/layouts/partials/suggest-change.html
  landing-pages/src/index.js
  landing-pages/yarn.lock
Due: lint-js

Update newsletter link in community page (#1278)
  landing-pages/site/layouts/partials/suggest-change.html
Due: none

add scroll to top button bugfix-4
  landing-pages/site/assets/scss/_base-layout.scss
  landing-pages/site/layouts/_default/baseof.html
Due: lint-css

Add meetups disclaimers and conditions. (#1286)
  landing-pages/site/layouts/meetups/list.html
  landing-pages/yarn.lock
Due: none

Fix Format release links for Apache Airflow announcements
  landing-pages/site/content/en/announcements/_index.md
Due: none

fixup! Fix Format release links for Apache Airflow announcements
  .pre-commit-config.yaml
Due: none

Fix Format release links for Apache Airflow announcements (#1296)
  .pre-commit-config.yaml
  landing-pages/site/content/en/announcements/_index.md
Due: none

Docs updated via refs/heads/main:227bae9c2d68333eb493ea3981f2f4ba9adb36d0
  _gen/packages-metadata.json
Due: none

Fix license header to HTML comment format
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Fix HTML comment syntax in suggest-change.html
  landing-pages/site/layouts/partials/suggest-change.html
Due: none

Docs updated via refs/heads/staging:76fbb05178756ad5a6b6c4dfc2632c2cd4c349ee
  _gen/packages-metadata.json
Due: none

Add Airflow LDAP Auth Manager provider details
  landing-pages/site/content/en/ecosystem/_index.md
Due: none
