Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

lint-css:
  name: Lint CSS files
  entry: ./site.sh lint-css
  language: system

lint-js:
  name: Lint JS files
  entry: ./site.sh lint-js
  language: system

Apply linter fixes.
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/content/en/community/_index.html
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_Community_and_Contribution_Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_Demographics_Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_The_Future_of_Airflow_Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: lint-css

Use fixed infographics.
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 1 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 2 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 3 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Community and Contribution - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Demographics - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - The Future of Airflow - Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: lint-css

Update landing-pages/site/data/videos.json
  landing-pages/site/data/videos.json
Due: none

Update landing-pages/site/layouts/community/list.html
  landing-pages/site/layouts/community/list.html
Due: none

Fix indentation in meetups/list.
  landing-pages/site/layouts/meetups/list.html
Due: none

Restyle and update infographics.
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 1 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 2 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 3 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Community and Contribution - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Demographics - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - The Future of Airflow - Landscape@2x.png
Due: lint-css

Refactor.
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/content/en/community/_index.html
Due: lint-css

Add button link to raw data.
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/content/en/survey/_index.html
Due: lint-css

Fix margin.
  landing-pages/site/assets/scss/_survey.scss
Due: lint-css

Reorganize community resources according to persona.
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/content/en/community/_index.html
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_Community_and_Contribution_Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_Demographics_Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer_Airflow_Survey_2023_Results_The_Future_of_Airflow_Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: lint-css

Add Airflow Survey 2023 results page (#923)
  landing-pages/site/assets/scss/_survey.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 1 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 2 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Airflow Usage - Page 3 - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Community and Contribution - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Demographics - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - The Future of Airflow - Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: lint-css

Rewording some text regarding suspended and removed providers
  landing-pages/site/content/en/docs/_index.md
Due: none

Announce Apache Airflow 2.8.0 release
  landing-pages/site/content/en/announcements/_index.md
Due: none

Announce Apache Airflow 2.8.0 release (#925)
  landing-pages/site/content/en/announcements/_index.md
Due: none

Rewording some text regarding suspended and removed providers (#924)
  landing-pages/site/content/en/docs/_index.md
Due: none

Hide survey page to allow infographic fix.
  landing-pages/site/content/en/survey/_index.html
Due: none

Hide survey page to allow infographic fix. (#926)
  landing-pages/site/content/en/survey/_index.html
Due: none

Use fixed graphic and unhide page.
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Future - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - The Future of Airflow - Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: none

Use fixed graphic and unhide page. (#927)
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - Future - Landscape@2x.png
  landing-pages/site/content/en/survey/Astronomer - Airflow Survey 2023 - Results - The Future of Airflow - Landscape@2x.png
  landing-pages/site/content/en/survey/_index.html
Due: none

Fix broken link.
  landing-pages/site/content/en/survey/_index.html
Due: none

Fix broken link on survey page (#928)
  landing-pages/site/content/en/survey/_index.html
Due: none

feat: add taipei airflow meetup
  landing-pages/site/static/meetups.json
Due: none

feat: add taipei airflow meetup (#929)
  landing-pages/site/static/meetups.json
Due: none

fix: fix taipei typo
  landing-pages/site/static/meetups.json
Due: none

Update community elements (#914)
  landing-pages/site/data/videos.json
  landing-pages/site/layouts/community/list.html
  landing-pages/site/layouts/meetups/list.html
  landing-pages/site/layouts/partials/boxes/event.html
  landing-pages/src/js/meetupsList.js
Due: lint-js

fix: fix taipei typo (#930)
  landing-pages/site/static/meetups.json
Due: none

Add personae and redistribute resources.
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/content/en/community/_index.html
Due: lint-css

Reorganize channels on community page (#911)
  landing-pages/site/assets/scss/_community-page.scss
  landing-pages/site/content/en/community/_index.html
Due: lint-css

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)
