Repository apache/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

Path conditions:
  lint-css: any of: \.scss$ and not (_roadmap.scss$|_rst-content.scss$) and not (^docs-archive)
  lint-js: any of: \.js$ and not (^sphinx_airflow_theme/) and not (^docs-archive)

Docs updated via refs/heads/main:1f71f05521b1fddf207479caea0c4e0a561a5c6d
  _gen/packages-metadata.json
Due: none

add scroll to top button
  landing-pages/site/assets/scss/_scroll-to-top.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/data/integrations.json
  landing-pages/site/layouts/partials/footer.html
  landing-pages/src/index.js
  landing-pages/src/js/scrollToTop.js
  landing-pages/yarn.lock
Due: lint-css, lint-js

feat(footer): show social icons' brand colors on hover
  landing-pages/site/layouts/partials/footer.html
  sphinx_airflow_theme/sphinx_airflow_theme/footer.html
Due: none

Improve footer hover interaction in documentation footer
  landing-pages/site/assets/scss/_footer.scss
Due: lint-css

Improve footer hover interaction in documentation footer (#1284)
  landing-pages/site/assets/scss/_footer.scss
Due: lint-css

feat(footer): show social icons' brand colors on hover (#1283)
  landing-pages/site/layouts/partials/footer.html
  sphinx_airflow_theme/sphinx_airflow_theme/footer.html
Due: none

add blog snippet section to home
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/index.html
Due: lint-css

Fix: Updated Visit the Blog button styling to match Show more
  landing-pages/site/layouts/index.html
Due: none

Fix: Visit the Blog button link
  landing-pages/site/layouts/index.html
Due: none

Add Blog Snippet Section to HomePage (#1285)
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/index.html
Due: lint-css

Add meetups disclaimers and conditions.
  landing-pages/site/layouts/meetups/list.html
  landing-pages/yarn.lock
Due: none

[Doc] fixing 404 error for incorrect ETL link (#1265)
  landing-pages/site/content/en/use-cases/etl_analytics.md
Due: none

Add airflowctl 0.1.0 blog (#1247)
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/assets_create_event.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/assets_get.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/config_get.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/connections_create.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/connections_get.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/connections_update.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/dagrun_list.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/dagrun_trigger.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/pools_list.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/pools_list_old.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/variables_export.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/variables_import.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/variables_list_old.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/images/variables_list_yaml.gif
  landing-pages/site/content/en/blog/airflowctl-0.1.0/index.md
Due: none

change
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

change js
  landing-pages/src/js/versionSelector.js
Due: lint-js

change scss
  landing-pages/site/assets/scss/main-custom.scss
Due: lint-css

Improve Docs Version Selector: add combo input, search, and suggestions
  landing-pages/site/assets/scss/_version-selector.scss
Due: lint-css

Fix trailing whitespace (auto hook)
  landing-pages/site/assets/scss/_version-selector.scss
  landing-pages/src/js/versionSelector.js
Due: lint-css, lint-js

Fix lint and whitespace
  landing-pages/site/assets/scss/_version-selector.scss
  landing-pages/src/js/versionSelector.js
Due: lint-css, lint-js

Fix whitespace issues in version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Update landing-pages/site/layouts/meetups/list.html
  landing-pages/site/layouts/meetups/list.html
Due: none

Fix lint and license for version selector
  landing-pages/src/js/versionSelector.js
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: lint-js

Fix license formatting in version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Fix trailing whitespace in version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Fix whitespace & EOF for version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none

Fix whitespace & EOF in version-selector.html
  sphinx_airflow_theme/sphinx_airflow_theme/version-selector.html
Due: none
